*.exe

*.nc
*.pdf
*.gif
*.output
rsl*
slurm*
wrfout_*
wrfinput_*
aerosols_d01*
aerosol_dist_d01*
test.ipynb

# shape files
cb_2018_us_state*
tl_2022_us_state*

*.pyc
cares_gas_emiss_rates.csv
/aero_emit_dists/*

README.namelist